* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(../img/gta_background_mobile.png); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-color: #040404 !important;
    color: #ffffff !important;
}

html {
    font-size: 100.5%;
}

nav {
    background-color: #111;
}

nav .container-fluid {
    background-color: #111;
}

nav .container-fluid a {
    color: #fff !important;
}

nav .container-fluid .navbar-toggler {
    border-color: rgb(255, 0, 0);
}

nav .container-fluid i {
    font-size: 20px;
    color: #ffffff !important;
}


.container_master {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container_master h1 {
    margin-left: 12px;
    margin-top: 15px;
    font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container_master .img {
    margin: 10px;
}

.container_master .img img {
    width: 200px;
    border-radius: 5px;
}

.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item ul li {
    display: flex;
    align-items: center;
    margin: 30px;
      font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  list-style-type: none;
}

.item .descripcion {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 12px;
    font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  list-style-type: none;
  border-radius: 12px;
}

.descripcion .text-descripcion {
    padding: 5px;
}

ul li img {
    width: 30px;
    margin-right: 1px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

footer .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer ul {
    display: flex;
}

footer ul li {
    position: relative;
    right: 12px;
    list-style: none;
    font-size: 20px;
    margin: 10px;
}

/* Seccion Idiomas */

.container_idiomas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.container_idiomas h1 {
    margin-top: 30px !important;
    margin-bottom: 30px;
    font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container_idiomas .idiomas_items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;
}

.item {
    margin: 10px;
}

.item img {
    width: 200px;
    border-radius: 5px;
}

/* Seccion Tecnologias */

.container_tech h1 {
    margin-top: 30px !important;
    margin-bottom: 30px;
    font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container_tech {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.tecnologias img {
    width: 80px;
    margin: 3px;
}

.tecnologias i {
    font-size: 75px;
    margin: 10px;
}
 
.tecnologias .bi-git {
    color: #ff4800;
}

.tecnologias .bi-bootstrap-fill {
    color: #8400ff;
}

/* Seccion Proyectos */

.tech-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
}

.card {
    margin: 12px;
    font-size: 10px;
}

.card h1 {
    font-size: 15px;
}

.card img {
    width: 100%;
}